{% extends 'partials/master.twig' %}

{% block title %}404 Page Not Found | {{ app.config.get('general/sitename') }}{% endblock title %}

{% block body %}
    <style>
        .main__header{
            display: none;
        }
    </style>
    <main>
        <div class="container">
            <section class="page__404">
                <h1>404</h1>
                <h2>Page Not Found</h2>
                <p>The page you are looking for can not be found.<br>Sorry About That!</p>
                <a href="/" class="button primary large">Return to Home.</a>
            </section>
        </div>
    </main>
{% endblock body %}