{% extends 'page.twig' %}

{% block body %}
    <main id="words">
        <div class="words__intro">
            <div class="container">
                <div class="words__intro--title">
                    <h1>Word</h1>
                </div>
                <nav class="words__intro--menu">
                    {% setcontent words = 'words' %}
                    <ul>
                        {% for word in words %}
                            <li data-colour="{{ word.colour }}">
                                <a data-id="{{ word.id }}" data-slug="{{ word.slug }}" @click="getWords('click', $event, {{ word.id }})">{{ word.title }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </nav>
            </div>
        </div>
        <template v-for="poem in poem">
            <div class="words__body" :data-colour="colour">
                <div class="words__body--intro">
                    <h2>${poem.title}</h2>
                    <h3>${poem.poemYear}</h3>
                    <p v-html="poem.introduction"></p>
                </div>
                <div class="words__body--image" style="background-image: url({{ record.image|thumbnail(500, 500, "r") }})"></div>
            </div>
        </template>
        <div class="container">
            <div id="stanzas" class="words__stanzas bricklayer" :data-colour="colour">
                <template v-for="stanzas in stanzas">
                    <div class="words__stanzas--element" :data-type="stanzas.stanzastyle" data-view="hidden">
                        <template v-if="stanzas.stanzastyle == 'normal' || stanzas.stanzastyle == ''">
                            <h3>${stanzas.title}</h3>
                            <p v-html="stanzas.body"></p>
                        </template>
                        <template v-else="stanzas.stanzastyle == 'quote'">
                            <blockquote v-html="stanzas.body"></blockquote>
                        </template>
                    </div>
                </template>
            </div>
        </div>
        <template v-for="poem in poem">
            <div class="container">
                <section class="words__buy" :data-colour="colour">
                    <p>To purchase the complete book of poems visit the link below</p>
                    <a :href="poem.buyLink" target="_blank">Buy ${poem.title}</a>
                </section>
            </div>
        </template>
        <div class="container">
            <ul class="words__share" data-state="hidden">
                <li>
                    <a class="words__share--button facebook" href="https://www.facebook.com/sharer/sharer.php?u={{ paths.hosturl }}{{ page.link }}" target="_blank" title="Share on Facebook">
                        <i class="icon-facebook"></i>
                    </a>
                </li>
                <li>
                    <a class="words__share--button twitter" href="https://twitter.com/intent/tweet?source={{ paths.hosturl }}{{ page.link }}" target="_blank" title="Tweet">
                        <i class="icon-twitter"></i>
                    </a>
                </li>
                <li>
                    <a class="words__share--button pinterest" href="https://pinterest.com/pin/create/button/?url=&media={{ paths.hosturl }}{{ page.link }}" target="_blank" title="Tweet">
                        <i class="icon-pinterest"></i>
                    </a>
                </li>
                <li>
                    <a class="words__share--button email" target="_blank" title="send as email">
                        <i class="icon-email"></i>
                    </a>
                </li>
            </ul>
        </div>
    </main>
{% endblock body %}

{% block bottomscripts %}
    <script src="{{ paths.theme }}js/words.min.js"></script>
{% endblock bottomscripts %}