{% extends 'page.twig' %}

{% block body %}
    <main id="photos">
        <div class="photos__intro">
            <div class="container">
                <a class="photos__intro--category nature" @click="loadPhotos($event, 'Nature')">
                    <h3>Nature</h3>
                    <img src="{{ record.templatefields.nature_image |thumbnail(500, 500, "r") }}" alt="Nature Photos">
                </a>
                <a class="photos__intro--category street" @click="loadPhotos($event, 'Street')">
                    <h3>Street</h3>
                    <img src="{{ record.templatefields.street_image |thumbnail(500, 500, "r") }}" alt="Street Photos">
                </a>
            </div>
        </div>
        <div id="gallery" class="photos__gallery bricklayer" data-state="hidden">
            <a 
            v-for="(category, index) in category"
            :key="index"
            :href="category.largeImage" 
            class="photos__gallery--element" 
            :data-caption="category.caption" 
            :data-slug="category.slug" 
            data-view="hidden"
            >
                <img :src="category.image" :alt="category.title">
            </a>
        </div>
    </main>
{% endblock body %}

{% block bottomscripts %}
    <script src="{{ paths.theme }}js/photos.min.js"></script>
{% endblock bottomscripts %}