{% extends 'partials/master.twig' %}
{% block title %}{% if record.title is defined %}{{ record.title|striptags }} | {{ app.config.get('general/sitename') }}{% endif %}{% endblock title %}

{% block body %}{% endblock body %}