{% extends 'page.twig' %}

{% block body %}
    <main id="about">
       <div class="pages__about">
        <div class="container">
            <div class="pages__about--image" style="{% if page.image != '' %}background-image: url({{ page.image|thumbnail(500, 500, "r") }}{% endif %})">

            </div>
            <div class="pages__about--bio">
                {{ page.body }}
            </div>
        </div>
       </div>
    </main>
{% endblock body %}