/*!
 * baguetteBox.js
 * @author  feimosi
 * @version %%INJECT_VERSION%%
 * @url https://github.com/feimosi/baguetteBox.js
 */

#baguetteBox-overlay {
  display: none;
  opacity: 0;
  position: fixed;
  overflow: hidden;
  top: 0;
  left: 0;
  width: 100%;
  margin-top: 70px;
  height: 100%;
  z-index: 999;
  background-color: $black;
  background: $black !important;
  transition: opacity .3s ease;

  &.visible {
    opacity: 1;
  }

  .full-image {
    display: inline-block;
    position: relative;
    padding: $padding-large 0 80px 0;
    width: 100%;
    height: calc(100% - 70px);
    text-align: center;

    figure {
      display: inline;
      margin: 0;      // needed for mobile
      height: 100%;   // Opera 12 image stretching fix
    }

    img {
      // IE8 fix
      display: inline-block;
      width: auto;
      height: auto;
      max-height: 100%;
      max-width: 100%;
      vertical-align: middle;
    }

    figcaption {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      text-align: center;
      height: 70px;
      line-height: 70px;
      white-space: normal;
      color: $white;
      background: $black;
      .slug{
        opacity: 0;
        position: absolute;
        height: 0;
        width: 0;
      }
      .caption{
        @include font-size(1.5);
      }
    }

    &:before {
      content: "";
      display: inline-block;
      height: 50%;
      width: 1px;
      margin-right:-1px;
    }
  }
}

#baguetteBox-slider {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  white-space: nowrap;
  transition: left .4s ease, transform .4s ease;

  &.bounce-from-right {
    animation: bounceFromRight .4s ease-out;
  }

  &.bounce-from-left {
    animation: bounceFromLeft .4s ease-out;
  }
}

@keyframes bounceFromRight{
  0% { margin-left: 0; }
  50% { margin-left: -30px; }
  100% { margin-left: 0; }
}

@keyframes bounceFromLeft{
  0% { margin-left: 0; }
  50% { margin-left: 30px; }
  100% { margin-left: 0; }
}

%arrow-button {
  top: 50%;
  top: calc(50% - 70px);
  width: 44px;
  height: 60px;
}

.baguetteBox-button {
  @extend .transition--standard;
  position: absolute;
  cursor: pointer;
  outline: none;
  padding: 0;
  margin: 0;
  border: 0;
  border-radius: 15%;
  background-color: transparent;
  font: 1.6em sans-serif;
  transition: background-color .4s ease;
  svg{
    @extend .transition--standard;
    stroke: $white;
  }

  &:focus,
  &:hover {
    background-color: transparent;
    svg{
      stroke: darken($white, 10%);
    }
  }

  &#next-button {
    @extend %arrow-button;
    right: 2%;
  }

  &#previous-button {
    @extend %arrow-button;
    left: 2%;
  }

  &#close-button {
    position: fixed;
    top: 20px;
    right: 2%;
    right: calc(2% + 6px);
    width: 30px;
    height: 30px;
  }

  // Firefox fix
  svg {
    position: absolute;
    left: 0;
    top: 0;
  }
}

/*
    Preloader
    Borrowed from http://tobiasahlin.com/spinkit/
*/

.baguetteBox-spinner {
  width: 40px;
  height: 40px;
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -20px;
  margin-left: -20px;
}

.baguetteBox-double-bounce1,
.baguetteBox-double-bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: $white;
  opacity: .6;
  position: absolute;
  top: 0;
  left: 0;
  animation: bounce 2s infinite ease-in-out;
}

.baguetteBox-double-bounce2 {
  animation-delay: -1s;
}

@keyframes bounce {
  0%, 100% {
    transform: scale(0);
  } 50% {
      transform: scale(1);
    }
}

@include breakpoint($mobile){
  #baguetteBox-overlay {
    margin-top: 45px;
    figcaption {
      bottom: 25px !important;
    }
  }
  .baguetteBox-button{
      &#close-button {
        position: fixed;
        top: 44px;
        right: calc(2% + 6px);
      }
  }
  .full-image {
    padding: $padding-standard;
    height: calc(100% - 45px);
  }
}
