.bricklayer {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
}

.bricklayer-column-sizer {
  width: 50%;
  display: none;
}

.bricklayer-column {
  flex: 1;
  padding-left: 5px;
  padding-right: 5px;
}
