//[ Photos | Gallery Module ]//

.album {
  width: 100%;
  display: flex;
  &__body {
    margin-right: $padding-standard;
    &--name {
      @include font-size(3);
    }
    &--links{
      margin: 0;
      padding: 0;
      list-style: none;
      li{
        display: inline-block;
        margin-right: $padding-standard / 2;
        a{  
          width: 50px;
          height: 50px;
          display: flex;
          align-items: center;
          justify-content: center;
          background: $black;
          svg{
            width: 35px;
            fill: $white;
          }
        }
      }
    }
  }
  &--cover {
    object-fit: cover;
    width: 450px;
    height: 450px;
  }
}

@include breakpoint($mobile){
  .album {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: $padding-standard;
    &__body{
      margin: 0 0 $padding-standard 0;
    }
    &--cover {
      object-fit: contain;
      width: 100%;
      height: auto;
    }
  }
}
