<footer class="footer">
    <div class="container">
        <div class="footer__column">
            <ul class="footer__menu">
                <li><a href="{{ paths.root }}">Home</a></li>
                {{ menu('main', 'partials/main/_menu.twig') }}
            </ul>
        </div>
        <div class="footer__column">
            <h3 class="footer--title">Get In Touch</h3>
            {% setcontent locations = 'locations' %}
            {% for location in locations %}
                <div class="footer__location">
                    <h5>{{ location.title }}</h5>
                    <p>{{ location.address| raw }}</p>
                    <p>
                        <span>T</span>{{ location.phone }}<br>
                        <span>F</span>{{ location.fax }}<br>
                        <a class="footer__location--email" href="mailto:{{ location.email }}">{{ location.email }}</a>
                    </p>
                    <a class="button primary solid small" href="https://www.google.co.nz/maps/place/{{ location.map.address|lower }}" title="View in Google Maps" target="_blank">View Map</a>
                </div>
            {% endfor %}
        </div>
        <div class="footer__column">
            {% setcontent logo = 'blocks/logo' %}
            <div class="footer__about">
                <img class="footer--logo" src="{{ logo.image|image }}" alt="{{ app.config.get('general/sitename') }}">
                <h5 class="footer--social-title">Follow Us</h5>
                <ul class="footer--social">
                    {% setcontent twitter = 'blocks/twitter' %}
                    <li>
                        <a href="{{ twitter.contentlink }}" target="_blank"><i class="icon-twitter"></i></a>
                    </li>
                    {% setcontent linkedin = 'blocks/linkedin' %}
                    <li>
                        <a href="{{ linkedin.contentlink }}" target="_blank"><i class="icon-linkedin"></i></a>
                    </li>
                </ul>
                <p class="footer--copyright">&copy; Copyright {{ app.config.get('general/sitename') }} {{ 'now'|date('Y') }}</p>
            </div>
        </div>
    </div>
</footer>