{% for item in menu %}
    <li class="{% if item|current %}active{% endif %}">
        <a href="{{ item.link }}" {% if item.class == 'external' %}target="_blank"{% endif %}>{{ item.label }}</a>
    </li>
{% endfor %}