<nav class="navigation" data-state="default">
    <div class="container">
        <a class="navigation__logo" href="{{ paths.root }}">
            <svg>
                <use xlink:href="{{ paths.theme }}/assets/vectors/main.svg#logo" />
            </svg>
        </a>
        <ul class="navigation__menu">
            {{ menu('main', 'partials/main/_menu.twig') }}
        </ul>
        <ul class="share__menu">
            <li>
                <a class="share__menu--button facebook" href="https://www.facebook.com/sharer/sharer.php?u={{ paths.hosturl }}{{ page.link }}" target="_blank" title="Share on Facebook">
                    <i class="icon-facebook"></i>
                </a>
            </li>
            <li>
                <a class="share__menu--button twitter" href="https://twitter.com/intent/tweet?source={{ paths.hosturl }}{{ page.link }}" target="_blank" title="Tweet">
                    <i class="icon-twitter"></i>
                </a>
            </li>
            <li>
                <a class="share__menu--button pinterest" href="https://pinterest.com/pin/create/button/?url=&media={{ paths.hosturl }}{{ page.link }}" target="_blank" title="Tweet">
                    <i class="icon-pinterest"></i>
                </a>
            </li>
            <li>
                <a class="share__menu--button email" target="_blank" title="send as email">
                    <i class="icon-email"></i>
                </a>
            </li>
        </ul>
    </div>
</nav>