{% if page.slug == 'photos' %}
    {% if app.request.get('photo') != '' %}
        {% set slug = app.request.get('photo') %}
        {% setcontent photos = 'photos' where { slug: slug } %}
        {% for photo in photos %}
            <meta name="description" content="{{ app.config.get('general/payoff') }}">
            <!-- Standard OG Tags -->
            <meta property="og:type"   content="image.gallery" />
            <meta property="og:url"    content="{{ paths.hosturl }}/?photo={{ slug }}" />
            <meta property="og:title"  content="{{ photo.title }} | Mary Jane Thomson" />
            <meta property="og:image"  content="{{ paths.hosturl }}{{ photo.image|thumbnail(500, 500, "r") }}" />
            <!-- Twitter Card -->
            <meta name="twitter:title" content="{{ photo.title }} | Mary Jane Thomson">
            <meta name="twitter:image:src" content="{{ paths.hosturl }}{{ photo.image|thumbnail(500, 500, "r") }}">
        {% endfor %}
    {% else %}
        {{ seo.metatags() }}
    {% endif %}
{% elseif page.slug == 'words' %}
    {% if app.request.get('poem') != '' %}
        {% set slug = app.request.get('poem') %}
        {% setcontent words = 'words' where { slug: slug } %}
        {% for word in words %}
            <meta name="description" content="{{ app.config.get('general/payoff') }}">
            <!-- Standard OG Tags -->
            <meta property="og:type"   content="image.gallery" />
            <meta property="og:url"    content="{{ paths.hosturl }}/?poem={{ slug }}" />
            <meta property="og:title"  content="{{ word.title }} | Mary Jane Thomson" />
            <meta property="og:image"  content="{{ paths.hosturl }}{{ record.image|thumbnail(500, 500, "r") }}" />
            <!-- Twitter Card -->
            <meta name="twitter:title" content="{{ word.title }} | Mary Jane Thomson">
            <meta name="twitter:image:src" content="{{ paths.hosturl }}{{ record.image|thumbnail(500, 500, "r") }}">
        {% endfor %}
    {% else %}
        {{ seo.metatags() }}
    {% endif %}
{% elseif page.slug == 'about' %}
    {{ seo.metatags() }}
{% endif %}