//[ Buttons ]//

// Variables

$button-height: 45px;

//Extends

.button--icon{
  @include font-size(1.25);
  @extend .icon--app;
  display: inline;
  line-height: $button-height;
  margin-left: $padding-standard;
}

.button{
  @include font-size(1);
  @extend .transition--standard;
  font-weight: $font-bold;
  text-decoration: none;
  padding: 0 $padding-standard;
  height: $button-height;
  line-height: $button-height;
  border: solid 2px transparent;
  display: inline-block;
  min-width: 10em;
  text-align: center;
  color: $base;
  background: transparent;
  margin: 0 $margin-small / 4;
  line-height: $button-height;
  &:hover{
    cursor: pointer;
  }

  // Large Button
  &.large{
   padding: 0 $padding-standard;
   height: $button-height * 1.25;
   line-height: $button-height * 1.25;
  }

  &.small{
    @include font-size(0.8)
  }

  &.form--button{
    margin: 0;
  }

  // Primary Button
  &.primary{
    border-color: $primary;
    color: $primary;
    &:hover{
      background: $primary;
      color: $white;
    }
  }

  &.solid.primary{
    background: $primary;
    color: $white;
    &:hover{
      background: darken($primary, 5%);
      border-color: darken($primary, 5%);
    }
  }

  // Dark Button
  &.dark{
    border-color: $base;
    background: $base;
    color: $white;
    &:hover{
      background: $base-2;
      border-color: $base-2;
    }
  }

  // Submit Button
  &.submit{
    display: block;
    margin: 0 auto;
    width: 15em;
    text-align: center;
  }
}