//[ Forms ]//

// Variables

$input-height: 45px;

// Extends

.form--icon{
  @include font-size(1.25);
  @extend .icon--app;
  line-height: $input-height;
  height: $input-height;
  position: absolute;
  right: $padding-standard / 1.5;
  top: $margin-standard;
  display: block;
}

.form {
  @extend .clear-fix;
  width: 100%;
  form{
    @extend .clear-fix;
  }
  // Standard Inputs
  label {
    @include font-size(0.7);
    display: block;
    height: $margin-standard;
    margin-bottom: $padding-small / 2;
    font-weight: $font-bold;
    text-align: center;
    display: none;
  }
  input, select, textarea {
    @include font-size(0.8);
    border-radius: $border-radius-standard / 6;
    transition: border $timing-standard linear;
    padding: 0 $padding-standard;
    line-height: $input-height;
    height: $input-height;
    width: 100%;
    border: solid 1px $grey-light;
    &:hover {
      border-color: lighten($base-3, 10%);
    }
    &:focus, &:focus + .form--button {
      border-color: $primary;
      outline: none;
    }
    &::-webkit-input-placeholder{
      color: $base;
      opacity: .7;
    }
    &:-moz-placeholder{
      color: $base;
      opacity:  .7;
    }
    &::-moz-placeholder{
      color: $base;
      opacity:  .7;
    }
    &:-ms-input-placeholder{
      color: $base;
      opacity: .7;
    }
    &:disabled {
      @extend .transition--standard;
      background: $base-2;
      &::-webkit-input-placeholder {
        opacity: .3;
      }
      &:-moz-placeholder {
        opacity: .3;
      }
      &::-moz-placeholder {
        opacity: .3;
      }
      &:-ms-input-placeholder {
        opacity: .3;
      }
      &:hover {
        border-color: $base-3;
        cursor: not-allowed;
      }
    }

  }
  textarea {
    resize: vertical;
    min-height: 10em;
  }
  .boltforms-row{
    lost-column: 1/1 0 0;
    &:first-of-type{
      margin-top: $margin-small;
    }
    //&.form--button-row{
    //  display: none;
    //}
    .boltforms-error{
      @include font-size(0.7);
      font-weight: $font-bold;
      color: $error;
      display: block;
      height: 28px;
      line-height: 28px;
    }
    &.boltforms-half-row{
      lost-column: 1/2 0 0;
    }
  }
  .g-recaptcha{
    display: inline-flex;
    float: none;
    width: 100%;
    margin-bottom: $margin-standard / 2;
    align-self: flex-start;
    justify-content: flex-start;
  }
}


.form{
  &__submit{
    @extend .clear-fix;
   &--row{
     lost-column: 1/2 0 0;
     &.message{
       color: $primary;
       font-weight: $font-bold;
       span{
         opacity: 0;
         visibility: collapse;
         width: 100%;
         text-align: right;
         display: block;
       }
       &[data-state='success']{
        span{
          visibility: visible;
          opacity: 1;
        }
       }
     }
   }
  }
}