//[ Modal ]//

.no-scroll{
  overflow: hidden;
}

.modal {
  display: none;
}

.vanilla-modal .modal {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: transparentize($white, 0.1);
  display: block;
  content: "";
  z-index: -1;
  opacity: 0;
  transition: opacity 0.2s, z-index 0s 0.2s;
  text-align: center;
  overflow-x: hidden;
  overflow-y: auto;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.vanilla-modal .modal > * {
  display: inline-block;
  white-space: normal;
  vertical-align: middle;
  text-align: left;
}

.vanilla-modal .modal:before {
  display: inline-block;
  overflow: hidden;
  width: 0;
  height: 100%;
  vertical-align: middle;
  content: "";
}

.vanilla-modal.modal-visible .modal {
  @extend .z-index--1000;
  opacity: 1;
  transition: opacity 0.2s;
}

.modal-inner {
  width: 550px;
  position: relative;
  background: transparent;
  z-index: -1;
  opacity: 0;
  transform: scale(0);
  transition: opacity 0.2s, transform 0.25s, z-index 0s 0.2s;
}

.modal-visible .modal-inner {
  z-index: 100;
  opacity: 10;
  transform: scale(1);
  transition: opacity 0.2s, transform 0.25s;
}

.modal--close {
  position: absolute;
  z-index: 1001;
  right: $padding-standard;
  top: $padding-standard;
  width: 25px;
  height: 25px;
  line-height: 25px;
  font-size: 13px;
  cursor: pointer;
  text-align: center;
  background: transparent;
  color: $primary;
  &:after{
    @extend .transition--standard;
    @extend .icon--app;
    @include font-size(1.1);
    color: $primary;
    content: "\e905";
  }
  &:hover:after{
    color: darken($primary, 10%);
  }
}

.modal-content{
  @extend .clear-fix;
  border: solid 1px $grey-light;
  box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.25);
  background: $white;
  min-height: 400px;
  position: relative;
  &__header{
    @extend .clear-fix;
    padding: $padding-standard;
    padding-bottom: 0;
    text-align: center;
    h3{
      margin-bottom: 0;
    }
    p{
      margin-top: 0;
      color: darken($grey, 30%);
      font-family: $serif;
    }
  }
  &__body{
    @extend .clear-fix;
    padding: $padding-standard;
    padding-top: 0;
  }
  &__footer{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 $padding-standard;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 80px;
    width: 100%;
    border-top: solid 1px $base-3;
    background: darken($base-2, 5%);
    border-radius: 0 0 $border-radius-standard $border-radius-standard;
  }
}



@include breakpoint($mobile-portrait) {
  .modal-inner {
    width: 100%;
    margin-left: -9px;
  }
  .modal--close {
    top: $padding-standard;
    right: $padding-standard;
    &:after{
      color: $primary;
      font-size: 1.5rem !important;
    }
  }
}

@include breakpoint($mobile-landscape) {
  .modal-inner {
    width: 100%;
    margin-left: -9px;
  }
  .modal--close {
    top: $padding-standard;
    right: $padding-standard;
    &:after{
      color: $primary;
      font-size: 1.5rem !important;
    }
  }
}
@include breakpoint($small-mobile-portrait) {
  .modal-inner {
    width: 100%;
    margin-left: -9px;
  }
  .modal--close {
    top: $padding-standard;
    right: $padding-standard;
    &:after{
      color: $primary;
      font-size: 1.5rem !important;
    }
  }
}
@include breakpoint($small-mobile-landscape) {
  .modal-inner {
    width: 100%;
    margin-left: -9px;
  }
  .modal--close {
    top: $padding-standard;
    right: $padding-standard;
    &:after{
      color: $primary;
      font-size: 1.5rem !important;
    }
  }
}