//[ Photos | Intro Module ]//

.photos{
  &__intro{
    position: relative;
    height: 100vh;
    overflow: hidden;
    width: 100%;
    >.container{
      display: flex;
      align-content: center;
      justify-content: center;
      height: calc(100% - 70px);
      margin-top: $navigation-height;
      padding-top: $padding-large;
      a{
        align-self: center;
      }
    }
    &--category{
      lost-column: 1/2 0 0;
      min-height: 500px;
      position: relative;
      &:hover{
        cursor: pointer;
        img{
          filter: grayscale(100%) contrast(1.5);
        }
      }
      &.nature{
        &:hover{
          h3{
            transform: translateX(50px);
          }
        }
        h3{
          left: 0;
          top: 50%;
        }
      }
      &.street{
        &:hover{
          h3{
            transform: translateY(50px);
          }
        }
        h3{
          left: 0;
          top: 0;
        }
      }
      h3{
        @include font-size(4);
        @extend .transition--standard;
        z-index: 100;
        position: absolute;
      }
      img{
        @extend .transition--standard;
        z-index: -1;
        width: 75%;
        display: block;
        margin: 0 auto;
      }
    }
  }
}

@include breakpoint($mobile){
  .photos{
    &__intro{
      min-height: 100vh;
      height: auto;
      padding-bottom: $padding-standard;
      margin-bottom: $navigation-height / 1.5;
      >.container{
        flex-direction: column;
      }
      &--category{
        width: 100%;
        float: none;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        min-height: 300px;
        &:first-of-type{
          margin-bottom: $margin-small;
        }
        &.nature, &.street{
          &:hover{
            h3{
              transform: translateY(50px);
            }
          }
        }
        h3{
          position: relative;
        }
        img{
          filter: grayscale(70%);
          width: 100%;
          opacity: 0.8;
          position: absolute;
          left: 0;
          top: 0;
          z-index: auto;
        }
      }
    }
  }
}