//[ Photos | Gallery Module ]//

.photos{
  &__gallery{
    &[data-state="visible"]{
      visibility: visible;
      min-height: 100vh;
      height: auto;
    }
    &[data-state="hidden"]{
      visibility: hidden;
      position: absolute;
      height: 0;
      width: 0;
      position: absolute;
      bottom: -999px;
    }
    &--element{
      transition: all linear 0.4s;
      padding: $padding-large * 2 0;
      width: 50%;
      float: left;
      &[data-view='hidden']{
        opacity: 0;
      }
      &[data-view='visible']{
        opacity: 1;
      }
      &:hover{
        cursor: pointer;
        img{
          filter: grayscale(100%) contrast(1.5);
        }
      }
      img{
        @extend .transition--standard;
        width: 75%;
        display: block;
        margin: 0 auto;
      }
    }
  }
}

@include breakpoint($mobile){
  .photos{
    &__gallery{
      margin-bottom: 44px;
      padding-bottom: $padding-standard;
      &--element{
        width: 100%;
        float: none;
        padding: 0;
        margin-bottom: $margin-small;
        img{
          width: 100%;
        }
      }
    }
  }
}