//[ Pages | About Page Module ]//

.pages {
  &__music {
    width: 100%;
    min-height: 100vh;
    > .container {
      display: flex;
      align-items: flex-start;
      min-height: inherit;
      padding-top: 15%
    }
  }
}
