//[ Pages | About Page Module ]//

.pages{
  &__about{
    width: 100%;
    height: 100vh;
    >.container {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
    }
    &--image{
      @extend .background-image--fill;
      height: 400px;
      width: 400px;
      background-color: $grey-light;
    }
    &--bio{
      @include font-size(1.1);
      lost-column: 1/2 0 0;
      padding: $padding-large * 2;
      line-height: 1.5em;
      letter-spacing: 1.1px;
      a{
        color: $black;
        font-style: italic;
        display: block;
      }
    }
  }
}

@include breakpoint($mobile){
  .pages{
    &__about{
      min-height: 100vh;
      height: auto;
      &--image{
       display: none;
      }
      &--bio{
        width: 100%;
        text-align: center;
        margin-top: 45px;
        padding: 0;
        padding-top: $padding-standard;
      }
    }
  }
}