//[ Pages | 404 Page Module ]//

.page{
  &__404{
    margin-top: $navigation-height;
    width: 100%;
    padding: $padding-large 0;
    height: 450px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    h1{
      margin: 0;
    }
  }
}