//[ Main | Navigation Module ]//

$navigation-height: 70px;

.navigation{
  @extend .transition--standard;
  -webkit-backface-visibility: hidden;
  z-index: 998;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: $navigation-height;
  overflow: hidden;
  &[data-state='default']{
    background: $white;
    .share__menu{
      opacity: 0;
      visibility: hidden;
    }
  }
  &[data-state='gallery']{
    background: $black;
    .navigation__logo{
      svg{
        fill: $white;
      }
    }
    .navigation__menu{
      opacity: 0;
      visibility: hidden;
    }
    .share__menu{
      lost-column: 2/3 0 0;
      text-align: right;
      visibility: visible;
      opacity: 1;
    }
  }
  >.container{
    height: 100%;
    position: relative;
  }
  &__logo, &__menu{
    height: 100%;
  }
  &__logo{
    lost-column: 1/3 0 0;
    line-height: $navigation-height;
    display: flex;
    align-items: center;
    justify-content: center;
    svg{
      @extend .transition--standard;
      height: 100%;
      fill: $black;
    }
  }
  &__menu{
    @extend .transition--standard;
    lost-column: 2/3 0 0;
    position: absolute;
    right: 0;
    top: 0;
    margin: 0;
    padding: 0;
    text-align: right;
    list-style: none;
    li{
      display: inline-block;
      padding: 0 $padding-small;
      height: 100%;
      &:last-child{
        padding-right: 0;
      }
      &.active{
        a{
          &:after{
            transform: scale(1,1) translateY(-50%);
          }
        }
      }
      a{
        @include font-size(1.25);
        @extend .transition--standard;
        color: $black;
        text-decoration: none;
        height: $navigation-height;
        line-height: $navigation-height;
        padding: 0 $padding-standard;
        display: inline-block;
        position: relative;
        &:after{
          @extend .transition--standard;
          content: '';
          position: absolute;
          top: 50%;
          left: 0;
          width: 100%;
          height: 2px;
          transform: scale(0,1) translateY(-50%);
          transform-origin: center;
          background: $black;
        }
        &:hover{
          cursor: pointer;
          &:after{
            transform: scale(1,1) translateY(-50%);
          }
        }
      }
    }
  }
}

@include breakpoint($tablet){
  .navigation{
    padding: 0 $padding-standard;
    &__menu{
      li{
        &:last-child{
          a{
            padding-right: 0;
          }
        }
      }
    }
  }
}

@include breakpoint($mobile){
  .navigation{
    height: auto;
    overflow: auto;
    position: relative;
    z-index: initial;
    &[data-state='gallery']{
      .navigation__logo{
        background: $black;
      }
      .share__menu{
        width: 100%;
        z-index: 1000;
        text-align: center;
        visibility: visible;
        opacity: 1;
      }
    }
    &__logo{
      height: $navigation-height / 1.5;
      line-height: $navigation-height / 1.5;
      z-index: 1000;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      position: fixed;
      svg{
        height: 100%;
        fill: $black;
      }
    }
    &__menu{
      height: $navigation-height / 1.5;
      z-index: 1000;
      background: $white;
      position: fixed;
      text-align: center;
      width: 100%;
      float: none;
      clear: initial;
      top: auto;
      bottom: 0;
      left: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      li{
        height: 100%;
        padding: 0;
        a{
          @include font-size(0.85);
          line-height: $navigation-height / 1.5;
          height: 100%;
          padding: 0 15px;
        }
      }
    }
  }
}
