//[ Main | Share Menu Module ]//

.share__menu{
  @extend .transition--standard;
  list-style: none;
  padding: 0;
  margin: 0;
  position: absolute;
  right: 0;
  top: 0;
  li{
    display: inline-flex;
    align-items: center;
    height: $navigation-height;
    line-height: $navigation-height;
    margin-right: $padding-small;
    &:last-child{
      margin-right: 0;
    }
    a{
      @extend .transition--standard;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: $border-radius-round;
      width: 40px;
      height: 40px;
      border: solid 1px $white;
      color: $white;
      text-decoration: none;
      &:hover{
        background: $white;
        color: $black;
      }
    }
  }
}

@include breakpoint($mobile){
  .share__menu{
    position: fixed;
    top: auto;
    bottom: 0;
    left: 0;
    width: 100%;
    float: none;
    text-align: center;
  }
}