<!DOCTYPE HTML>
<html lang="en">
<head>
    <!-- Meta Info -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Title -->
    <title>{% block title %}{% endblock title %}</title>
    <!-- CSS -->
    <link rel="stylesheet" href="{{ paths.theme }}css/main.css">
    <!-- Favicons -->
    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="https://{{ paths.hostname }}{{ paths.theme }}assets/images/favicons/apple-touch-icon-57x57.png?v=2" />
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="https://{{ paths.hostname }}{{ paths.theme }}assets/images/favicons/apple-touch-icon-114x114.png?v=2" />
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="https://{{ paths.hostname }}{{ paths.theme }}assets/images/favicons/apple-touch-icon-72x72.png?v=2" />
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="https://{{ paths.hostname }}{{ paths.theme }}assets/images/favicons/apple-touch-icon-144x144.png?v=2" />
    <link rel="apple-touch-icon-precomposed" sizes="60x60" href="https://{{ paths.hostname }}{{ paths.theme }}assets/images/favicons/apple-touch-icon-60x60.png?v=2" />
    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="https://{{ paths.hostname }}{{ paths.theme }}assets/images/favicons/apple-touch-icon-120x120.png?v=2" />
    <link rel="apple-touch-icon-precomposed" sizes="76x76" href="https://{{ paths.hostname }}{{ paths.theme }}assets/images/favicons/apple-touch-icon-76x76.png?v=2" />
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="https://{{ paths.hostname }}{{ paths.theme }}assets/images/favicons/apple-touch-icon-152x152.png?v=2" />
    <link rel="icon" type="image/png" href="https://{{ paths.hostname }}{{ paths.theme }}assets/images/favicons/favicon-196x196.png?v=2" sizes="196x196" />
    <link rel="icon" type="image/png" href="https://{{ paths.hostname }}{{ paths.theme }}assets/images/favicons/favicon-96x96.png?v=2" sizes="96x96" />
    <link rel="icon" type="image/png" href="https://{{ paths.hostname }}{{ paths.theme }}assets/images/favicons/favicon-32x32.png?v=2" sizes="32x32" />
    <link rel="icon" type="image/png" href="https://{{ paths.hostname }}{{ paths.theme }}assets/images/favicons/favicon-16x16.png?v=2" sizes="16x16" />
    <link rel="icon" type="image/png" href="https://{{ paths.hostname }}{{ paths.theme }}assets/images/favicons/favicon-128.png?v=2" sizes="128x128" />
    <meta name="application-name" content="{{ app.config.get('general/sitename') }}"/>
    <meta name="msapplication-TileColor" content="#1E2132" />
    <meta name="msapplication-TileImage" content="mstile-144x144.png?v=2" />
    <meta name="msapplication-square70x70logo" content="mstile-70x70.png?v=2" />
    <meta name="msapplication-square150x150logo" content="mstile-150x150.png?v=2" />
    <meta name="msapplication-wide310x150logo" content="mstile-310x150.png?v=2" />
    <meta name="msapplication-square310x310logo" content="mstile-310x310.png?v=2" />
    <!-- Sitemap -->
    <link rel="sitemap" type="application/xml" title="Sitemap" href="/sitemap.xml" />
    <!-- Social Meta Tags -->
    {% include 'partials/main/_socialmetatags.twig' %}
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <script>window.html5 || document.write('<script src="js/vendor/html5shiv.js"><\/script>')</script>
    <![endif]-->
</head>
<body>
<!--[if lt IE 8]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->
{#Main Nav#}
{% include 'partials/main/_navigation.twig' %}
{#Main Body#}
{% block body %}{% endblock body %}
{#Main Footer#}
{% block modal %}{% endblock modal %}
<!-- Default Modal Template -->
<div class="modal">
    <div class="modal-inner">
        <a class="modal--close" data-modal-close></a>
        <div class="modal-content"></div>
    </div>
</div>
{# Vue #}
<script src="https://unpkg.com/vue@2.4.2/dist/vue.min.js"></script>
{#Main Scripts#}
{% include 'partials/main/_scripts.twig' %}
{#Bottom Scripts#}
{% block bottomscripts %}{% endblock bottomscripts %}
</body>
</html>