//[ Base Layout ]//

// Box Sizing

*{
  box-sizing: border-box;
}

// Body

html, body{
  padding: 0;
  margin: 0;
  background: $white;
  color: inherit;
  scroll-behavior: smooth;
  position: relative;
}

body{
  min-height: 100vh;
}
