//[ Extends ]//


// Container

.container{
  lost-center: $container-width;
}


@include breakpoint($mobile){
  .container{
    margin-bottom: 60px;
  }
}

// Clear fix

.clear-fix{
  lost-utility: clearfix;
}

// Flex

.flex{
  &--inline{
    display: inline-flex;
    justify-content: center;
    align-items: center;
  }
  &--vertical-align{
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  &--center{
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

// Box Shadow

.box-shadow{
  &--standard{
    box-shadow: 0 4px 8px 0px rgba(0,0,0,0.2);
  }
  &--section{
    box-shadow: 0 4px 15px 0px rgba(0,0,0,0.2);
  }
}

// Border Radius

.border-radius{
  &--standard{
    border-radius: $border-radius-standard;
  }
  &--round{
    border-radius: $border-radius-round;
  }
}

// Z-index

.z-index{
  &--1000{
    z-index: 1000;
  }
  &--100{
    z-index: 100;
  }
  &--10{
    z-index: 10;
  }
  &--2{
    z-index: 2;
  }
  &--1{
    z-index: 1;
  }
}

// Transitions

.transition{
  &--standard{
    transition: all $timing-standard linear;
  }
  &--pop{
    transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
}

// Background

.background-image{
  &--fill{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}


// Gradients

.gradient {
  &--primary{
    background: linear-gradient(to right, $primary 0%, $secondary 100%);
  }
  &--primary-alt{
    background: linear-gradient(to right, darken($primary,15%) 0%, $primary 100%);
  }
  &--frosted{
    background: linear-gradient(to left, $grey 0%, darken($grey, 10%) 100%);
  }
  &--dark {
    background: linear-gradient(to right, $base 0%, $base-2 100%);
  }
}

// Grid

.column{
  &-2{
    lost-masonry-column: $column-2;
  }
  &-3{
    lost-masonry-column: $column-3;
  }
  &-4{
    lost-masonry-column: $column-4;
  }
  &-6{
    lost-masonry-column: $column-6;
  }
  &-8{
    lost-masonry-column: $column-8;
  }
  &-9{
    lost-masonry-column: $column-9;
  }
  &-10{
    lost-masonry-column: $column-10;
  }
  &-12{
    lost-masonry-column: $column-12;
  }
}

// Font Weight

.font-weight{
  &--light{
    font-weight: $font-light;
  }
  &--normal{
    font-weight: $font-normal;
  }
  &--bold{
    font-weight: $font-bold;
  }
  &--heavy{
    font-weight: $font-heavy;
  }
}

// Placeholder

// Placeholder

.placeholder{
  &--light{
    &::-webkit-input-placeholder{
      @extend .font-weight--light;
      color: $white;
      opacity: .7;
    }
    &:-moz-placeholder{
      @extend .font-weight--light;
      color: $white;
      opacity:  .7;
    }
    &::-moz-placeholder{
      @extend .font-weight--light;
      color: $white;
      opacity:  .7;
    }
    &:-ms-input-placeholder{
      @extend .font-weight--light;
      color: $white;
      opacity: .7;
    }
  }
}