//[ Icons ]//

@font-face {
  font-family: $icon;
  src:
  url('../fonts/icons/mary-jane.ttf?v1') format('truetype'),
  url('../fonts/icons/mary-jane.woff?v1') format('woff'),
  url('../fonts/icons/mary-jane.svg?v1#nme-icons') format('svg');
  font-weight: normal;
  font-style: normal;
}

.icon{
  &--app{
    font-family: $icon !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

i{
  @extend .icon--app;
}

.icon-facebook:before {
  content: "\61";
}
.icon-twitter:before {
  content: "\62";
}
.icon-email:before {
  content: "\63";
}
.icon-pinterest:before {
  content: "\64";
}