//[ Mixin's ]//

// Visually Hidden

@mixin visually-hidden{
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

// Font Size

@mixin font-size($sizeValue: 2) {
  font-size: ($sizeValue * 14) + px;
  font-size: $sizeValue + rem;
}

// Aspect Ratio

@mixin fluid-aspect($ratio: 1 1, $selector: "> :first-child") {
  $selector: unquote($selector);
  padding-bottom: percentage(nth($ratio, 2) / nth($ratio, 1));
  position: relative;
  #{$selector} {
    left: 0;
    height: 100%;
    position: absolute;
    top: 0;
    width: 100%;
  }
}