//[ Typography ]//

// Font Face Setup

@import url('https://fonts.googleapis.com/css?family=Ropa+Sans|Playfair+Display:900');

// Root Typography

:root{
  @include font-size(1.1);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: $sans;
  font-weight: $font-normal;
  color: $black;
}

// Headers

h1, h2, h3, h4, h5, h6{
  margin: 0.5em 0;
  font-family: $serif;
  font-weight: $font-bold;
}

h1{
  @include font-size(2.5);
}
h2{
  @include font-size(2);
}
h3{
  @include font-size(1.75);
}
h4{
  @include font-size(1.5);
}
h5{
  @include font-size(1.25);
}
h6{
  @include font-size(1.05);
}