//[ Variables ]//

// Colours #########################################################

// Main Colours
$primary: #007BC6;
$secondary: #66B0DD;
$base: #001C3D;
$base-1: lighten($base, 5%);
$base-2: lighten($base, 10%);
$base-3: lighten($base, 15%);
$black: #000000;
$white: #FFFFFF;
$grey: #282C2D;
$grey-light: #808E9E;

// Validation Colours
$error: #ED3737;
$information: #37A5ED;
$success: #37ED7A;

// Social
$facebook: #3b5998;
$twitter: #55ACEE;
$pinterest: #bd081c;
$tumblr: #35465c;


// Margins #########################################################

$margin-standard: 30px;
$margin-small: 20px;


// Padding #########################################################

$padding-standard: 1em;
$padding-small: $padding-standard / 2;
$padding-large: $padding-standard * 2;

// Borders #########################################################

$border-radius-standard: 0.2em;
$border-radius-round: 100%;

// Box Shadow #########################################################

$box-shadow-standard: 0px 20px 15px -15px rgba(0,0,0,0.1);
$box-shadow-small: 0 4px 8px 0px rgba(0,0,0,0.1);

// Text Shadow #########################################################

$text-shadow-standard: 2px 2px 4px rgba(0,0,0,0.2);

// Animation/Transition Timing #########################################################

$timing-standard: 0.2s;
$timing-slow: $timing-standard * 2;

// Breakpoints #########################################################

$large-desktop: (min-device-width 1440px);
$hd-desktop: (min-device-width 1440px) (max-device-width 1920px);
$medium-desktop: max-width 1440px;
$small-desktop: max-width 1270px;

$tablet:                    (min-device-width 767px) (max-device-width 1024px) (-webkit-min-device-pixel-ratio 2);
$tablet-landscape:          (min-device-width 768px) (max-device-width 1024px) (-webkit-min-device-pixel-ratio 2) (orientation landscape);
$tablet-portrait:           (min-device-width 768px) (max-device-width 1024px) (-webkit-min-device-pixel-ratio 2) (orientation portrait);

$mobile:                    (max-device-width 736px) (-webkit-min-device-pixel-ratio 2);
$mobile-landscape:          (min-device-width 414px) (max-device-width 736px) (-webkit-min-device-pixel-ratio 2) (orientation landscape);
$mobile-portrait:           (min-device-width 414px) (max-device-width 736px) (-webkit-min-device-pixel-ratio 2) (orientation portrait);

$small-mobile:              (min-device-width 320px) (max-device-width 568px) (-webkit-min-device-pixel-ratio 2);
$small-mobile-landscape:    (min-device-width 320px) (max-device-width 568px) (-webkit-min-device-pixel-ratio 2) (orientation landscape);
$small-mobile-portrait:     (min-device-width 320px) (max-device-width 568px) (-webkit-min-device-pixel-ratio 2) (orientation portrait);



// Grid System #########################################################

// Container
$container-width: 1100px;

// Columns
$column-2:        1/6 $margin-standard;
$column-3:        1/3 $margin-standard;
$column-4:        1/4 $margin-standard;
$column-6:        1/2 $margin-standard;
$column-8:        3/4 $margin-standard;
$column-9:        2/3 $margin-standard;
$column-10:       5/6 $margin-standard;
$column-12:       1/1 $margin-standard;


// Typography #########################################################

// Families
$sans: 'Ropa Sans', sans-serif;
$serif: 'Playfair Display', serif;
$icon: 'mary-jane';

// Weights
$font-light:    300;
$font-normal:   400;
$font-bold:     600;
$font-heavy:    900;