{#
 # Passed in variables:
 #   formname        — The form name
 #   form            — The form object
 #   fields          — Field data
 #   result
 #     email         — True when the form has been submitted successfully
 #     contenttype   — True when saving of ContentType was successful
 #     uploads       — True when file uploads were a success
 #   html_pre        — HTML to display before successful submission
 #   html_post       — HTML to display after successful submission
 #   messages        — Arrays of messages by type
 #     info          — "Informational" messages
 #     error         — "Error" messages
 #     debug         — "Debug" messages
 #   webpath         — URI for the default web assets
 #   recaptcha       — reCaptcha values
 #     enabled
 #     label
 #     error_message
 #     error_codes
 #     valid
 #   templates       — Array of templates configured for this form
 #   debug           — True if debug mode is enabled
 #}
{% form_theme form templates.formtheme %}

{% block boltforms_css %}{% endblock boltforms_css %}

{% block boltforms_form %}
    <div class="form">

        {{ include(templates.messages) }}
        {% import templates.recaptcha as spambot %}

        {% if result.pass('email') %}
            {# If the form is successfully submitted, this block will be displayed #}
            {{ html_post }}
        {% else %}
            {{ html_pre }}

            {{ form_start(form, form_start_param) }}

            {{ form_errors(form) }}

            {% block boltforms_form_fields %}
                {% for key, value in fields  %}
                    {% if value.config.type.name != 'submit' %}
                        <div class="boltforms-row{% if form[key].vars.attr.class is defined %} boltforms-{{ form[key].vars.attr.class }}-row{% endif %}">
                            <span class="boltforms-label">{{ form_label(form[key]) }}</span>
                            <span class="boltforms-value">{{ form_widget(form[key]) }}</span>
                            <span class="boltforms-error">{{ form_errors(form[key]) }}</span>
                        </div>
                    {% endif %}
                {% endfor %}
                {{ spambot.recaptcha(recaptcha) }}
                {% for key, value in fields  %}
                    {% if value.config.type.name == 'submit' %}
                        <div class="boltforms-row{% if form[key].vars.attr.class is defined %} boltforms-{{ form[key].vars.attr.class }}-row{% endif %}">
                            {{ form_widget(form[key]) }}
                        </div>
                    {% endif %}
                {% endfor %}
            {% endblock boltforms_form_fields %}

            {# This is the CSRF token row and must be included if using CSRF (default) #}
            {% if form._token is defined %}
                {{ form_row(form._token) }}
            {% endif %}

            {{ form_end(form, { 'render_rest': false }) }}

        {% endif %}
    </div>
{% endblock boltforms_form %}

{% block boltforms_js %}

{% endblock boltforms_js %}
