//[ Words | Buy Module ]//

.words{
  &__buy{
    text-align: center;
    &[data-colour='red']{
      a{
        color: $red;
        &:hover{
          color: darken($red, 10%);
        }
      }
    }
    &[data-colour='blue']{
      a{
        color: $blue;
        &:hover{
          color: darken($blue, 10%);
        }
      }
    }
    &[data-colour='green']{
      a{
        color: $green;
        &:hover{
          color: darken($green, 10%);
        }
      }
    }
    &[data-colour='purple']{
      a{
        color: $purple;
        &:hover{
          color: darken($purple, 10%);
        }
      }
    }
    &[data-colour='yellow']{
      a{
        color: $yellow;
        &:hover{
          color: darken($yellow, 10%);
        }
      }
    }
    p{
      @include font-size(1.2);
      font-style: italic;
    }
    a{
      @include font-size(1.2);
      text-decoration: underline;
      font-weight: $font-bold;
      display: inline-block;
      margin-bottom: $margin-small;
    }
  }
}