//[ Words | Stanzas Module ]//

.words{
  &__stanzas{
    &--element{
      transition: all linear 0.4s;
      padding: $padding-large * 2;
      width: 50%;
      float: left;
      &[data-view='hidden']{
        opacity: 0;
      }
      &[data-view='visible']{
        opacity: 1;
      }
      h3{
        @include font-size(2.5);
        padding-bottom: $padding-small;
        border-bottom: solid $black 2px;
        width: 100%;
      }
      >p{
        @include font-size(1.2);
        line-height: 1.5em;
        letter-spacing: 1.1px;
      }
      blockquote{
        @include font-size(2.2);
        font-family: $serif;
        p{
          margin: 0;
        }
      }
    }
  }
}

@include breakpoint($tablet){
  .words{
    &__stanzas{
      margin-bottom: 44px;
      padding-bottom: $padding-standard;
      &--element{
        padding: $padding-standard;
      }
    }
  }
}

@include breakpoint($mobile){
  .words{
    &__stanzas{
      margin-bottom: 44px;
      padding-bottom: $padding-standard;
      &--element{
        width: 100%;
        padding: $padding-standard 0;
        text-align: center;
        h3{
          @include font-size(2.5);
          padding-bottom: $padding-small;
          border-bottom: solid $black 2px;
          width: 100%;
        }
        >p{
          @include font-size(1.2);
          line-height: 1.5em;
          letter-spacing: 1.1px;
        }
        blockquote{
          @include font-size(1.8);
          margin: 0;
          p{
            margin: 0;
          }
        }
      }
    }
  }
}