//[ Words | Share Module ]//

.words{
  &__share{
    padding: $padding-standard 0;
    margin: 0;
    list-style-type: none;
    text-align: center;
    &[data-state='hidden']{
      visibility: hidden;
    }
    &[data-state='visible']{
      visibility: visible;
    }
    li{
      display: inline-block;
      margin-right: $margin-small / 2;
      &:last-child{
        margin-right: 0;
      }
    }
    &--button{
      @extend .flex--center;
      @extend .transition--standard;
      width: 45px;
      height: 45px;
      border: solid 1px $black;
      border-radius: $border-radius-round;
      color: $black;
      text-decoration: none;
      &:hover{
        background: $black;
        color: $white;
      }
    }
  }
}

@include breakpoint($mobile){
  .words{
    &__share{
      margin-bottom: $navigation-height / 1.5;
    }
  }
}