//[ Words | Intro Module ]//

.words{
  &__intro{
    position: relative;
    height: 100vh;
    overflow: hidden;
    width: 100%;
    >.container{
      display: flex;
      align-content: center;
      justify-content: center;
      height: 100%;
    }
    &--menu, &--title{
      lost-column: 1/2 0 0;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
    }
    &--title{
      justify-content: flex-end;
      h1{
        @include font-size(4);
        margin-top: -70px;
      }
    }
    &--menu{
      justify-content: flex-start;
      ul{
        padding: 0;
        margin: $margin-small 0 0 $margin-small;
        list-style: none;
        li{
          &[data-colour='red']{
            a{
              &:hover{
                color: $red;
              }
              &.active{
                color: $red;
                &:after{
                  background: $red;
                  transform: scale(1,1) translateY(-50%);
                }
              }
            }
          }
          &[data-colour='blue']{
            a{
              &:hover{
                color: $blue;
              }
              &.active{
                color: $blue;
                &:after{
                  background: $blue;
                  transform: scale(1,1) translateY(-50%);
                }
              }
            }
          }
          &[data-colour='green']{
            a{
              &:hover{
                color: $green;
              }
              &.active{
                color: $green;
                &:after{
                  background: $green;
                  transform: scale(1,1) translateY(-50%);
                }
              }
            }
          }
          &[data-colour='purple']{
            a{
              &:hover{
                color: $purple;
              }
              &.active{
                color: $purple;
                &:after{
                  background: $purple;
                  transform: scale(1,1) translateY(-50%);
                }
              }
            }
          }
          &[data-colour='yellow']{
            a{
              &:hover{
                color: $yellow;
              }
              &.active{
                color: $yellow;
                &:after{
                  background: $yellow;
                  transform: scale(1,1) translateY(-50%);
                }
              }
            }
          }
          a{
            @include font-size(1.8);
            @extend .transition--standard;
            color: $grey-light;
            text-decoration: none;
            display: inline-block;
            position: relative;
            padding: $padding-small;
            &:after{
              @extend .transition--standard;
              position: absolute;
              height: 2.5px;
              width: 100%;
              top: 50%;
              left: 0;
              background: transparent;
              transform: scale(0,1) translateY(-50%);
              transform-origin: center;
              content: '';
            }
            &:hover{
              color: $grey;
              cursor: pointer;
            }
            &.active{

            }
          }
        }
      }
    }
  }
}


@include breakpoint($mobile){
  .words{
    &__intro{
      min-height: 100vh;
      >.container{
       display: block;
      }
      &--menu, &--title{
        width: 100%;
        float: none;
      }
      &--title{
        height: 150px;
        margin-top: 44px;
        padding-top: $padding-standard;
        justify-content: center;
        h1{
          margin: 0;
        }
      }
      &--menu{
        text-align: center;
        height: auto;
        width: 100%;
        ul{
          width: 100%;
          margin: 0;
        }
      }
    }
  }
}