//[ Words | Body Module ]//

*[data-colour='red']{
  h2, h3, blockquote, .words__body--intro p{
    color: $red;
  }
}
*[data-colour='blue']{
  h2, h3, blockquote, .words__body--intro p{
    color: $blue;
  }
}
*[data-colour='green']{
  h2, h3, blockquote, .words__body--intro p{
    color: $green;
  }
}
*[data-colour='purple']{
  h2, h3, blockquote, .words__body--intro p{
    color: $purple;
  }
}
*[data-colour='yellow']{
  h2, h3, blockquote, .words__body--intro p{
    color: $yellow;
  }
}

.words{
  &__body{
    position: relative;
    overflow: hidden;
    &--intro{
      lost-column: 1/2 0 0;
      overflow: hidden;
      h2{
        @include font-size(8);
        margin-left: -$margin-small;
        margin-bottom: 0;
      }
      h3{
        @include font-size(2);
        width: 100%;
        text-align: right;
      }
      p{
        @include font-size(1.2);
        line-height: 1.5em;
        letter-spacing: 1.1px;
        margin: $margin-standard;
        font-weight: $font-bold;
      }
    }
    &--image{
      @extend .background-image--fill;
      filter: grayscale(1);
      background-color: $grey-light;
      position: absolute;
      right: -100px;
      top: 0;
      height: 400px;
      width: 600px;
      &:after{
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        content: '';
        background: transparentize($white, 0.5);
      }
    }
  }
}

@include breakpoint($tablet){
  .words{
    &__body{
      &--intro{
        z-index: 100;
        lost-column: 2/3 0 0;
        position: relative;
        h2{
          @include font-size(7);
        }
      }
      &--image{
        z-index: 0;
      }
    }
  }
}

@include breakpoint($mobile){
  .words{
    &__body{
      position: relative;
      overflow: hidden;
      &--intro{
        width: 100%;
        overflow: hidden;
        text-align: center !important;
        h2{
          @include font-size(4);
          margin: 0;
        }
        h3{
          @include font-size(2);
          text-align: center;
          width: 100%;
        }
        p{
          @include font-size(1.2);
          margin: 0;
        }
      }
      &--image{
        display: none;
      }
    }
  }
}