//[ Words | Modules ]//

$red: #D50000;
$blue: #3F51B5;
$green: #00BFA5;
$purple: #673AB7;
$yellow: #FF8F00;

@import "_words--intro";
@import "_words--body";
@import "_words--stanzas";
@import "_words--buy";
@import "_words--share";